
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #f4e242,
  secondary:  rgba(202,209,69, 0.7),
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  dark1:	  #6d6969,
);

// Top tool bar

$toolbar-md-background: color($colors, secondary);
$toolbar-md-text-color: color($colors, dark1);

//Bottom tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, dark);
$tabs-md-tab-color-inactive: color($colors, dark1);
$tabs-md-tab-text-color: color($colors, dark1);


$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, dark1);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
