.home{
    background: color($colors, primary);
    color: color($colors, dark1);
    margin-top:30px;
}

.about{
    background: color($colors, primary);
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color: #ccc;
}

.temp{
    font-size:50px;
    text-align:center;
    font-weight: normal;
}

.location, .icon, .desc{
    text-align: center;
}

.icon img{
    width:100px;
}

.location{
    font-size: 80px;
}

.desc{
    font-size: 40px;
}

.list1{
    padding-top: 50px;
}